@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-test {
     @apply bg-red-500;
   }
   .dark .dark-test {
     @apply bg-blue-500;
   }


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


#app {
  text-align: center;
}


.fade-enter-active, .fade-leave-active {
  transition: all 0.3s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
  transform: translateY(20px) scale(0.9);
}

@media (orientation: landscape) {
  .landscape\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
